[submodule "Alegrian_Forest_Fire_prediction"]
	path = Alegrian_Forest_Fire_prediction
	url = https://github.com/varun-TR/Alegrian_Forest_Fire_prediction.git
[submodule "Flight_price_prediction"]
	path = Flight_price_prediction
	url = https://github.com/varun-TR/Flight_price_prediction.git
[submodule "Password_Strength_Predictor-NLP-"]
	path = Password_Strength_Predictor-NLP-
	url = https://github.com/varun-TR/Password_Strength_Predictor-NLP-.git
[submodule "heart_disease_prediction"]
	path = heart_disease_prediction
	url = https://github.com/varun-TR/heart_disease_prediction.git
